<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en-US" dir="ltr">
    <head>
    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="assets/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="assets/js/photobooth.js"></script>
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Owl Carousel Stuffz -->
    <link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
    <!-- Owl JS Pluginz -->
    <script src="assets/owl-carousel/owl.carousel.js"></script>
    <!-- Webcam.js -->
    <script src="/assets/js/webcam.js"></script>
     <!-- html2canvas JS -->
    <script src="/assets/js/html2canvas.js"></script>
    <!-- Custom CSS -->
    <link href="assets/css/photobooth.css" rel="stylesheet">


    {% block styles %}{% endblock %}
    {% block head %}{% endblock %}
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
    </body>
</html>
