/* BASIC SETUP */

@font-face {
  font-family: 'cheerful-party';
  src: url('../fonts/cheerful-party.otf');
}

@font-face {
  font-family: 'savaro-stencil';
  src: url('../fonts/savaro-stencil.otf');
}

@font-face {
  font-family: 'nippon-latin-bold';
  src: url('../fonts/nippon-latin-bold.ttf');
}

@font-face {
  font-family: 'kust';
  src: url('../fonts/kust.otf');
}

@font-face {
  font-family: 'digital';
  src: url('../fonts/digital.ttf');
}

img {
  width: 100%;
}

body {
  background: rgba(245,161,85,1.0);
  background-image: url("../img/bg.png");
}

html {
}

a {
  color: red;
}

a:hover {
  color: white;
}

h1 {
  color: rgba(15,15,15,.67);
  font-family: savaro-stencil;
  font-family: kust;
  font-family: nippon-latin-bold;
  font-size: 18px;
  letter-spacing: 5px;
}


/* CUSTOM ELEMENTS */

.captured {
  width: 100%;
  opacity: 1.0;
}

.container {
}

.card-container {
  padding: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 11;
}

.card-background {
  width: 490px;
  height: 610px;
  background-color: rgba(246,246,246,0.6);
  background-color: rgba(255,255,255,0.87);
  border: 1px solid rgba(151,151,151,1.0);
  border-radius: 8px;
  box-shadow: 0px 2px 8px  rgba(0,0,0,0.5)
}

.camera-container {
  padding-top: 8px;
}

#polaroid-overlay {
  position: absolute;
  left: 49.05%;
  top: 44.72%;
  transform: translate(-48.70%,-54.3%);
  z-index: 9;
  width: 480px;
  height: 480px;
  background-color: rgba(255,100,100,0.7);
  mix-blend-mode: screen;
  transition: 0.7s all ease-out;
}

.bac-level {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -70%);
  color: rgba(255,255,255,1);
  z-index: 10;
  font-family: cheerful-party;
  font-size: 36px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.device {
  position: absolute;
  left: 80%;
  top: 70%;
  transform: translate(-20%, -30%);
  color: rgba(255,255,255,1);
  z-index: 12;
  width: 180px;
}
#owl-demo .item{
  background: #a1def8;
  padding: 30px 0px;
  display: block;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

.shutter {
  margin-top: 3%;
  border-radius: 0px;
  background-color: rgba(255,220,225,1.0);
  border-color: rgba(0,0,0,0.0);

}

.shutter :hover {
  border-color: rgba(0,0,0,0.0);
  color: rgba(255,0,0,0.2);
}



/* SNAPSHOT PILE */

.items ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.items ul li {
  display: inline-block;
  /*spacing needs to be random*/
  width: 200px;
  height: 200px;
}
.items ul li :hover {
  width: 105px;
  height: 105px;
  transition: all 80ms ease-out;
  z-index: 20;

}
.items ul li img {
  display: block;
  width: 100px;
  height: 100px;
 background: #eee;
  margin: 0 auto;
  position: relative;
  transition: all 400ms ease;
  box-shadow: 1px 2px 3px #111;
}
.items ul li img b {
  line-height: 64px;
}
.items ul li img i {
  position: absolute;
  top: 100%;
  color: #ccc;
  padding-top: 0.5em;
  left: 50%;
  margin-left: -32px;
  width: 100%;
  text-shadow: 1px 2px 3px #111;
}
.list-container {
  width: 100%;
  z-index: 1;
}

